In [3]:
import pandas as pd
import numpy as np

In [4]:

test_series = pd.DataFrame([{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
         {'account': 'Alpha Co',  'Jan': 200, 'Feb': 210, 'Mar': 215},
         {'account': 'Blue Inc',  'Jan': 50,  'Feb': 90,  'Mar': 95 },
                           {'account': 'Jones LLC', 'Jan': 1350, 'Feb': 1200, 'Mar': 1404},
                            {'account': 'Alpha Co',  'Jan': 300, 'Feb': 400, 'Mar': 500}])
test_series

    Feb   Jan   Mar    account
0   200   150   140  Jones LLC
1   210   200   215   Alpha Co
2    90    50    95   Blue Inc
3  1200  1350  1404  Jones LLC
4   400   300   500   Alpha Co

In [ ]:
for x in test_series['account']:
    for y in

In [10]:
filtered_table = test_series.loc[(test_series['Feb']>100) | (test_series['Mar'] > 200), :]
filtered_table

    Feb   Jan   Mar    account
0   200   150   140  Jones LLC
1   210   200   215   Alpha Co
3  1200  1350  1404  Jones LLC
4   400   300   500   Alpha Co

In [27]:
filtered_table['Less than Feb'] = filtered_table['Feb'].apply(lambda x: 'true' if x <= filtered_table['Jan'] else 'false')
filtered_table

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [19]:
filtered_table['account'].value_counts(normalize=True)

Jones LLC    0.5
Alpha Co     0.5
Name: account, dtype: float64

In [24]:
table_emails = pd.DataFrame([{'account': 'Jones LLC', 'email': "jones@llc.com"},
                        {'account': 'Alpha Co',  'email': "alpha@co.com"},
                            {'account': 'Jones LLC', 'email': "jonesy@llc.com"}])
table_emails

     account           email
0  Jones LLC   jones@llc.com
1   Alpha Co    alpha@co.com
2  Jones LLC  jonesy@llc.com

In [25]:
mapped_table = filtered_table['account'].map(table_emails.set_index('account')['email'])
mapped_table

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [ ]:
def test_value():
    
    return
test_series['new_col'] = test_series